.col-md-7
  .btn-group
    button(onclick="socket.emit('playPress', {status: player.getPlayerState()})").btn.btn-default
      span.glyphicon.glyphicon-play

    button(onclick="socket.emit('pausePress',{status:player.getPlayerState()})").btn.btn-default
      span.glyphicon.glyphicon-pause

    button(
      onclick="socket.emit('syncPress', {sec: player.getCurrentTime(), status: player.getPlayerState()})"
      data-toggle="tooltip"
      data-placement="bottom"
      title="Sync Playback"
    ).btn.btn-default
      span.glyphicon.glyphicon-refresh

    button(onclick="socket.emit('resetPress', {status: player.getPlayerState()})").btn.btn-default
      span.glyphicon.glyphicon-repeat

    button(onclick="socket.emit('newVideoId', {id:currentVideo})").btn.btn-default
      span.glyphicon.glyphicon-upload

.col-md-5
  form(action="").form-inline
    .input-group
      input(id="m" autocomplete="off").form-control
      .input-group-btn
        button.btn.btn-default.
          Send

script(src="http://code.jquery.com/jquery-1.11.1.min.js")
//script(src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js")
script.
  $('form').submit(function(){
    socket.emit('newVideoId', $('#m').val());
    return false;
  });

// Activate tooltips
script.
  $(function () {
    $('[data-toggle="tooltip"]').tooltip({container: ''})
  })
