extends layout

block content
  .row
    .col-md-12
      .well
        .row
          .col-md-7#playercontainer
            .row
              .col-md-12
                include ./includes/video.jade
            .row
              include ./includes/controls.jade
