extends layout

block content
  .row
    .col-md-12
      .well
        .row
          .col-md-8
            include ./includes/video.jade
        .row
          .col-md-8
            include ./includes/controls.jade
